* {
	margin: 0;
}

a{
	color: black;
	text-decoration: none;
}

ul, ol{
	list-style: none;
}

/* this is header styles */
header nav a{
	color: #707070;
	color: rgba(112, 112, 112, 1);
	font-size: 20px;
	letter-spacing: 0.2px;
}

/*section style*/
section{
	background-color: #FFFFFF;
}

#main-image{
	max-width: 1640px;
	width: 100%;
	height: 613px;
}

.main-section {
	margin: 0 2%;
}

.news-section {
	margin: 2%;
}

.icons-img {
	width: 44px;
}

footer{
	background-color: rgba(46, 46, 46, 1);
	opacity: 1;
}

h1{
	font-size: 40px;
	letter-spacing: 0.4px;
	color: rgba(112, 112, 112, 1);
	border:#707070;
	border-width: 1px;
}

h2{
	color: #F2F2F2;
	font-size: 20px;
	letter-spacing: 0.2px;
}

h3{
	color: #FFFFFF;
	font-size: 19px;
	letter-spacing: 0.19px;
}

h4{
	color: #707070;
	font-size: 30px;
	letter-spacing: 0.3px;
}

footer nav p{
	color: #F2F2F2;
	font-size: 13px;
	letter-spacing: 0.13px;
}

footer nav img{
	max-width: 43.95px;
	width: 100%;
	height: 43.95px;
}

footer a{
	color: #FFFFFF;
}

#second-image {
	width: 483px;
	height: 282px;
}

.popular-news {
	margin: 2% 0;
}

.last-section {
	margin: 2% 0;
}